@import "theme";


.gallery-li {
  margin: 2%;
  padding: 2%;

  .glyphicons {
    display: flex;
    flex-direction: row;

    span {
      margin: 0% .5%;
    }
  }

  h3, p {
    text-align: left;
  }

  hr {
    width: 80%;
  }
}
