<li class="gallery-li">
  <h3> Name: {{ galleryLICtrl.gallery.name }} </h3>
  <h4> Description: {{ galleryLICtrl.gallery.desc }} </p>
  <div class="glyphicons">
    <button ng-click="galleryLICtrl.showEditGallery = !galleryLICtrl.showEditGallery" class="glyphicon glyphicon-pencil" > </button>
    <button ng-click="galleryLICtrl.deleteGallery()" class="glyphicon glyphicon-trash"> </button>
  </div>
  <edit-gallery ng-if="galleryLICtrl.showEditGallery" gallery="galleryLICtrl.gallery"> </edit-gallery>
  <hr>
</li>
